:root{
    --topColor: #c2c1c1;
    --sideColor: rgb(152, 151, 151);
    --bottomShade: rgb(93, 93, 93);

    
}

#display{
    grid-area: display;
    text-align: center;
    font-family: 'Arvo', serif;
}
#clear{
    grid-area: clear;
    text-align: center;
}
#zero{
    grid-area: zero;
    text-align: center;
}
#equals{
    grid-area: equals;
    text-align: center;
}
#theDisplay{
grid-area: theDisplay;
text-align: center;
font-family: 'Arvo', serif;
}

#grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "theDisplay theDisplay theDisplay theDisplay theDisplay"
    "display display display display display"
    "seven eight nine clear clear"
    "four five six add multiply"
    "one two three subtract divide"
    "zero zero decimal equals equals";
}

.displayAll{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(10deg) rotateY(20deg) rotateX(-30deg) rotateZ(10deg) scale(1.8);
}

.buttonPad{
    background-color: var(--topColor);
    border: var(--topColor);
    transform: translateY(10deg);
}

.buttonPad:hover{
    background-color: var(--topColor);
}
